// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,html{width:100%; height:100%; padding:0px; margin:0px;}
body{
  background-color: white;
    // overflow:hidden;
}
body:before{
  opacity:0.2;
  content:'';
  position:absolute;
  width:100%; height:110%;
  box-shadow:inset 0px 0px 250px 50px black;
  background-image:url('http://hdwpics.com/images/366F70822E09/Seamless-White-Brick-Wall-Texture-Maps-Seamless-White-Brick-Texture.jpg');
}
h1 {
  font-size: 90px; font-family: "Lucida Console", Monaco, monospace;}
